.header {
    grid-area: header;
    text-align: center;
    text-decoration: none;
    justify-content: flex-start;
    display: flex;
    background-color: #639886;
}

.logo {
    margin: auto;
    width: 55px;
    height: 40px;
}

.loginBlock a{
    float: right;
    color: #bbc3c4;
    margin-right: 10px;
}